@if (name!='') {
 
<mat-card class="p-2 text-center flex items-center ">
    <mat-card-content class="sm:w-[500px]">
        <h6 class="text-base font-black text-violet-600">profile details</h6>
    <img src="https://static.vecteezy.com/system/resources/thumbnails/024/983/914/small/simple-user-default-icon-free-png.png" alt="" class="w-[100px] mx-auto">
       <div class="my-2 text-base text-rose-900">{{name}}</div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">
        <!-- Label Column -->
        <ng-container matColumnDef="label">
          <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 50%; ">Label</th>
          <td mat-cell *matCellDef="let user;" class="text-center" style="width: 50%;" >{{user.label}}</td>
        </ng-container>
      
        <!-- Value Column -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef style="width: 50%; "> Value </th>
          <td mat-cell *matCellDef="let user;" style="width: 50%;">{{user.value}}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</mat-card-content>
<mat-card-actions>
    <div class="flex my-2 gap-4">
      <button mat-raised-button >UPDATE</button>
      <button mat-raised-button >SHARE</button>
    </div>
</mat-card-actions>
</mat-card>
}