.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url("../../../.././assets/quiz.png");
    background-size: cover;
  }



  
  .no-quizzes-card {
    padding: 20px;
    max-width: 400px;
    background-color: #f9f9f9;
    border: 1px solid #ececec;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-height: 300px;
  }
  
  .no-quizzes-icon {
    margin-bottom: 20px;
  }
  
  .empty-icon {
    font-size: 64px;
    color: #f44336;
  }
  
  .no-quizzes-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #424242;
  }
  
  .no-quizzes-subtitle {
    font-size: 16px;
    color: #757575;
  }
  .h{
    height: calc(100vh - 100px);
  }